#Monitoring Feature Configuration
#
# Periodically logs server performance metrics to the server log.
# Set monitoringIntervalSeconds to 0 to log only on load-level changes.
#Wed Sep 09 14:57:47 JST 2026
enabled=disabled
monitoringIntervalSeconds=30
monitoringLogEntities=true
monitoringLogLoadLevel=true
monitoringLogPlayers=true
monitoringLogTps=true
