#Player Login Protection Configuration
#
# When enabled, players receive brief invisibility + invulnerability on login
# until they move (or until the timeout expires).
#Wed Sep 09 14:57:47 JST 2026
enabled=disabled
playerLoginValidationTimeout=60
protectPlayerDuringLogin=true
protectPlayerDuringLoginLogging=true
